<IfModule mod_rewrite.c>

	RewriteEngine On
	Options -MultiViews
	Options +FollowSymLinks

	RewriteBase /Inque/

	RewriteRule ^index?$ index.php
	RewriteRule ^product?$ product.php
	RewriteRule ^overview?$ overview.php
	RewriteRule ^gallery?$ gallery.php
	RewriteRule ^event?$ event.php
	RewriteRule ^career?$ career.php
	RewriteRule ^contact?$ contact.php

	RewriteCond %{HTTP_HOST} ^admin/$
    RewriteRule ^(.*)$ admin/index.php [L,R=301]	

	# (.*)- means allow all types.
	# ([0-9]+) means only numbers.
	# ([a-zA-Z_-]+) means only a to z, A to Z, _ and -. 


	

</IfModule>
